<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale/1.0, minimum-scale/1.0,">
	<meta http-equiv="X-AU-Compatible" content="ia=edge">
	<title>Index</title>
</head>
<body>
	<div>
		<p>O projeto <em>Clima Tempo</em> permite acompanhar e prever o clima do <a href="https://pt.wikipedia.org/wiki/Parque_Estadual_Dunas_de_Natal" target="blank">Parque das Dunas</a> em Natal/RN.</p>
		<p>Nosso objetivo é permitir aos usuários das <a href="http://www.parquedasdunas.rn.gov.br/Conteudo.asp?TRAN=ITEM&TARG=6563&ACT=&PAGE=0&PARM=&LBL=" target="blank">trilhas</a> um bom planejamento do seu passeio, já que <em>o parque cancela trilhas em dias de chuva</em>.</p>
		</br>
		<p>Nesta página você pode acompanhar o clima e previsão climática em tempo real.</p>
		<p>Além de <a href="http://127.0.0.1:8000/cadastro/">cadastrar um alerta</a> que será recebido por email avisando a previsão.</p> <!-- Preciso mudar isso na implementação -->

	</div>
{% block climatempo %}
	<p>Clima atual:</p>
	<ul><li>{{ clima }}</li></ul>
	</br>
	<p>Previsão para os próximos dias ou horas:</p>
	<ul>
		{% if d1a == hj %}

			<li><b>Hoje:</b> {{ d1b }} </li>
			</br>
		{% else %}
			<li><b>{{ d1 }}</b> {{ d1b }} </li>
			</br>
		{% endif %}
		<li><b>{{ d2 }}</b> {{ d2b }} </li>
		</br>
		<li><b>{{ d3 }}</b> {{ d3b }} </li>
		</br>
		<li><b>{{ d4 }}</b> {{ d4b }} </li>
		</br>
		<li><b>{{ d5 }}</b> {{ d5b }} </li>
	</ul>

{% endblock %}

{% block formulario %}
{% endblock %}
</body>
</html>